*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.header 
{

    height:70px;
    padding: 15px;
    overflow: hidden;
}
.header__logo p
{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    line-height: 46px;
    text-align: left;
    font-size: 25px;
    padding-left: 5px;
}
.header__nav
{
    text-align: right;
}
.header__nav li 
{
    display: inline-block;
    list-style: none;
    text-align: center;

}

.header__nav li a 
{
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    font-size: 16px;
    font-weight: 550;
    margin-right: 10px;
    margin-left: 10px;
    text-transform: uppercase;
    padding: 5px;
    text-align: center;
}
.header__nav li.header__imp a
{
    color:#ffbe33;
}

.header__icon 
{
    text-align: right;
}
.header__icon li 
{
    display: inline-block;
    color: #fff;
    list-style: none;
    font-size: 13px;
    margin-right: 10px;
    line-height: 65px;
}
.header__icon li.header__imp-i 
{
    background:#ffbe33;
     width: 137px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.4s;
    line-height: 35px;
    text-align: center;
}
.header__icon li.header__imp-i:hover 
{
    background: #e69c00;
}
.menu__tablet
{
    text-align: right;
}
.menu__tablet i 
{
    color: #fff;
    font-size: 25px;
    line-height: 53px;
    cursor: pointer;
    text-align: right;
    display: none;
}
.slider 
{
    height: 105vh;
    background: url("asset/hero-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -70px;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 15px;
}

.slogan__order 
{
    width: 555px;
}
.slogan__heading 
{
    color: #fff;
    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
   
}
.slogan__about 
{
    color: #fff;
    line-height: 27px;
    margin-bottom: 30px;
   
}
.slogan__order 
{
    background:#ffbe33;
    width: 152px;
    padding: 2px;
   border-radius: 30px;
   cursor: pointer;
   transition: 0.4s;
   line-height: 35px;
   text-align: center;
   color: #fff;

}
.slogan__order:hover 
{
    background: #e69c00;
}
.content
{
    height: 2130px;
    padding: 40px 15px 40px 15px;
    overflow: hidden;
}
.content__list 
{
    background: #222831;
    height: 215px;
    padding: 20px;
}
.content__list
{
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 60px;
}
.content__list-img
{
    width: 165px;
    border-radius: 50%;
    border: 5px solid #e69c00;
    height: 165px;
    overflow: hidden;
}
.content__list-img img
{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: 0.4s;
  cursor: pointer;
}
.content__list-img img:hover 
{
    transform: scale(1.02);
}
.content__list-text 
{
    padding: 10px;
    margin-left: 20px;
}
.list__text-heading 
{
    font-size: 25px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
}
.list__test-sale 
{
    color: #fff;
    padding: 5px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 8px;
}
.content__menu-heading 
{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 50px;
}
.content__menu-nav 
{
    text-align: center;
}
.content__menu-nav li 
{
    display: inline-block;
    margin-bottom: 50px;
}
.content__menu-nav li 
{
    text-decoration: none;
    color: #000;
    padding: 7px 25px;
    cursor: pointer;
}
.content__menu-nav li.change__background 
{
    background: #222831;
    color: #fff;
    border-radius: 24px;
}
.menu__list
{
    background: #222831;
    height: 442px;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
    position: relative;
    cursor: pointer;
}
.background__menu-list 
{
    height: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f2f3;
    border-radius: 15px;
    border-bottom-left-radius: 44px;
    border-bottom-right-radius: 0px;
}
.menu__list.hide 
{
    display: none;
}
.background__menu-list img 
{
    width: 152px;
    height: 144px;
    cursor: pointer;
    transition: 0.4s;
}
.background__menu-list img:hover 
{
    transform: scale(1.02);
}
.menu__list-info 
{
    padding: 25px;
    position: relative;
}
.list__info-heading
{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}
.list__info-about
{
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 30px;
}
.list__info-cost 
{
    color: #fff;
}
.view__more 
{
    margin-left: auto;
    margin-right: auto;
    background: #ffbe33;
    width: 156px;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.4s;
    margin-top: 20px;
}
.view__more:hover 
{
    background: #e69c00;
}

.shopping__btn 
{
  background: #ffbe33;  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  bottom: 6%;
  right: 5%;
}
.shopping__btn i 
{
    color: #fff;
}
.menu__list:hover img 
{
    transform: scale(1.05);
}
.content__about-us 
{
    background: #222831;
    height: 920px;
    padding: 40px 15px 40px 15px;
    overflow: hidden;
}
.content__about-us img 
{
    width: 550px;
    padding: 15px;

    margin-top: 30px;
}
.about__us-heading 
{
    margin-top: 300px;
}
.about__us-heading 
{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}
.about__us-about 
{
    color: #fff;
    line-height: 25px;
    margin-bottom: 30px;
    font-size: 14px;
}
.read__more 
{
    background: #ffbe33;
    color: #fff;
    border-radius: 24px;
    text-align: center;
    padding: 10px;
    width: 156px;
    transition: 0.4s;
    cursor: pointer;
}
.read__more:hover 
{
    background: #e69c00;
}
.content__contact-us
{
    height: 550px;
    overflow: hidden;
}
.content__contact-us 
{
    padding: 40px 15px 40px 15px;
}
.contact__us-heading 
{
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    margin-left: 10px;
}
.form__box 
{
    margin-left: 10px;
}
.contact__btn 
{
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    padding: 10px 14px;
    cursor: pointer;
    -webkit-appearance: none;
}
.contact__submit 
{
    cursor: pointer;
    background: #ffbe33;
    color: #fff;
    padding: 10px 14px;
    width: 156px;
    cursor: pointer;
    transition: 0.4s;
    border: #ffbe33;
    border-radius: 24px;
    -webkit-appearance: none;
}
.contact__submit:hover 
{
    background: #e69c00;
}
iframe 
{
    margin-top: 80px;
    padding: 10px;
    border-radius: 24px;
    width: 100%;
    height: 350px;
}
.content__customers 
{
    height: 400px;
    padding: 40px 15px 40px 15px;
    overflow: hidden;
}
.customers__info 
{
    background: #222831;
}
.customers__heading 
{
    text-align: center;
    font-family:  'Dancing Script', cursive;
    margin-bottom: 30px;
    font-size: 27px;
}
.customers__info
{
    margin-left: 10px;
    margin-right: 10px;
    height: 181px;
    padding: 25px 25px 15px;
    font-size: 14px;
}
.customers__about
{
    color: #fff;
    line-height: 25px;
    margin-bottom: 15px;
}
.customers__author
{
    color: #fff;
    margin-bottom: 10px;
}
.customers__author-info 
{
    color: #fff;
    font-size: 14px;
}
.footer 
{
    height: 450px;
    background: #222831;
    padding:40px 10px 40px 10px  ;
    overflow: hidden;
}
.footer__heading
{
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    color: #fff;
    font-family:  'Dancing Script', cursive;
    margin-bottom: 20px;
}
.contact__us-nav 
{
    text-align: center;
    list-style: none;
    color: #fff;
  
}
.contact__us-nav li 
{
    margin-bottom: 10px;
}
.contact__us-nav li i 
{
    margin-right: 7px;
}
.feane__heading
{
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    color: #fff;
    font-family:  'Dancing Script', cursive;
    margin-bottom: 20px;
}
.feane__nav 
{
    text-align: center;

}
.feane__nav li
{
    display: inline-block;
    list-style: none;
    margin-right: 5px;
    margin-left: 5px;
}
.feane__nav li i 
{
    background: #fff;
    border-radius: 50%;
    width:30px;
    height: 30px;
    color: #222831;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feane__about 
{
    text-align: center;
    color: #fff;
    line-height: 26px;
    font-size: 15px;
    margin-bottom: 20px;
}
.open__hours-nav 
{
    list-style: none;
   
    text-align: center;
}
.open__hours-nav li 
{
    margin-bottom: 20px;
    color: #fff;
}
.open__hours-heading 
{
    font-size: 30px;
    text-align: center;
    margin-top: 40px;
    color: #fff;
    font-family:  'Dancing Script', cursive;
    margin-bottom: 20px;
}
.copy-right__heading 
{
    color: #fff;
    text-align: center;
    font-size: 16px;
    margin-top: 100px;
    line-height: 28px;
    margin-bottom: 20px;
}
.cop-right__sub-heading 
{
    color: #fff;
    text-align: center;
}
.modal 
{
    position: fixed;
    background: #0004;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
}
.modal__content
{
    width: 50%;
    height: 100%;
    background:#222831 ;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 0.2s fadeRight ease-in-out;
}
.modal__close 
{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 14px;
    cursor: pointer;
}
.modal__close i 
{
    color: #fff;
    font-size: 25px;
}
.modal__nav li 
{
    color: #fff;
    margin-bottom: 30px;
    list-style: none;
}
.modal__nav li a 
{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
.modal__nav li.header__imp a 
{
    color: #ffbe33;
}
input[type="date"]
{
    display:block;
    /* Solution 1 */
     -webkit-appearance: textfield;
    -moz-appearance: textfield;
}
@keyframes fadeRight {
    from {
        transform: translateX(-100px);
        opacity:0 ;
    }to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.to__top 
{
    position: fixed;
    bottom: 2%;
    right: 2%;
    background: #ffbe33;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.to__top a
{
    color: #fff ;
}
.to__top.active 
{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeup linear 0.4s;
    transition: 0.4s;
    animation: 0.4s fadeIN ease-in-out;
}
.to__top.active:hover 
{
    background: #e69c00;
}
@keyframes fadeIN {
    from{
        opacity: 0;
    }to 
    {
        opacity: 1;
    }
}